* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin: 0 0 0 -8%;
}

.social-icons-top img {
    height: 20px;
    margin: 3px;
    cursor: pointer;
}

.social-icons-top a {
    text-decoration: none;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 6%;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
}

.col-1 h1 {
    font-size: 50px;
    font-kerning: auto;
    line-height: 53px;
    margin-bottom: 20px;
}

.col-1 h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
}

button {
    width: 200px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 10px;
    outline: none;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s;
}

button:hover {
    width: 210px;
    text-decoration: overline;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.col-2 .profile {
    max-width: 55%;
    border-radius: 140px 20px 20px 20px;
    margin-right: 1.5%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 2%;
    background: #d9d9d9;
    border-radius: 140px 20px 20px 20px;
    height: 100%;
    width: 55%;
    z-index: -1;
}