@font-face {
    font-family: 'Nohemi';
    src: url('font/Nohemi-VF-BF6438cc58ad63d.ttf');
  }

@font-face {
    font-family: 'Brownland';
    src: url('font/Brownland-Regular.ttf');
  }

@font-face {
    font-family: 'Violence';
    src: url('font/Violence.ttf');
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Nohemi', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
}

:root {
    --bar-width: 100%;
    --bar-height: 6px;
    --bar-gap: 6px;
    --bar-color: #000;
    --animation-timing: 0.4s ease;
    --toggler-height: calc((var(--bar-height)) * 3 + var(--bar-gap) * 2);
}


/* Header */

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 4% 4% 2%;
}

.logo {
    width: 10vw;
    cursor: pointer;
}

/* Navigation Toggler */


.header .col-2 {
    width: 60px;
}

.nav-toggler {
    --x-width: calc(var(--toggler-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.nav-toggler::before, .nav-toggler::after, .nav-toggler input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bar-color);
    transform-origin: left center;
    transition: opacity var(--animation-timing),  width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.nav-toggler input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    transition: var(--animation-timing);
}

.nav-toggler input:hover {
    translate: 10px;
}

.nav-toggler:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.nav-toggler:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.nav-toggler input:checked {
    opacity: 0;
    width: 0;
}

.nav-toggler:has(input:checked) {
    --bar-color: #DEFA0F;
}

.nav-container {
    position: fixed;
    right: -100%;
    top: 0;
    padding: 5vh 0 0 0;
    width: 100%;
    height: 100vh;
    background:#000000;
    z-index: 2;
    transition: right var(--animation-timing);
}

.nav-toggler:has(input:checked) + .nav-container {
    right: 0;
}

.menu__item {
    position: relative;
    padding: 0 10vw;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    /* position: relative; */
    transition: opacity 0.4s;
    color: #ffffff;
    text-decoration: none;
}

.menu__item-link::before {
    all: initial;
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu__item-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.menu__item-img {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    height: 12vh;
    max-height: 600px;
    opacity: 0;
    left: 8%;
    top: 10%;
    transform: scale(0);
}

.menu__item-link:hover + .menu__item-img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s;
}

.menu {
    padding: 10vh 0 25vh;
    --offset: 20vw;
    --move--initial: calc(-25% + var(--offset));
    --move--final: calc(-50% + var(--offset));
    font-size: 7vw;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #DEFA0F;
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    opacity: 0;
    transition: all 0.23s;
    transform: translateX(60px);
}

.menu__item-link:hover ~ .marquee .marquee__inner {
    opacity: 1;
    transform: translateX(0px);
    transition-duration: 0.4s;
}

.menu__item-link, .marquee span {
    white-space: nowrap;
    font-size: 7vw;
    padding: 0 1vw;
    line-height: 1.15;
}

.marquee span {
    font-style: italic;
}

/* Navigation Toggler End */


.row-1 {
    text-align: center;
    margin: 0 9%;
}

.row-1 h1 {
    font-family: "Brownland";
    font-size: 24vw;
    font-weight: 500;
    letter-spacing: -4.64px;
    line-height: 0.9em;
    width: auto;
}

.row-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 9%;
}

.row-2 .col-1 {
    font-size: 2vw;
    font-weight: 600;
}

.row-2 .col-2 {
    background: #000;
    padding: 10px 20px 5px;
}

#tagline {
    font-family: "Violence";
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #DEFA0F;
}

.row-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 4% 0;
    padding: 80px auto;
}

.row-3 img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.row-3 video {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.section-header {
    margin: 0 9% 50px;
}

.section-header p {
    color: #000;
    font-family: "Nohemi";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.row-4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 9% 50px;
}

.row-4 .col-1 {
    flex-basis: 65%;
}

.row-4 .col-1 h3 {
    font-size: 64px;
    font-weight: 500;
}

.row-4 .vertical-line {
    flex-basis: 0.2%;
    background: #000;
    border-radius: 50px;
}

.row-4 .col-2 {
    flex-basis: 30%;
    align-self: flex-end;
}

.row-4 .col-2 img {
    width: 15%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.row-4 .col-2 a {
    text-decoration: none;
}

.row-4 .col-2 img:hover {
    transform: translateY(-10px);
}

.horizontal-line {
    margin: 80px 6%;
    background: #000;
    height: 4px;
    border-radius: 5px;
}

.row-5 {
    display: flex;
    flex-direction: column;
    margin: 0 9% 50px;
}

.row-5 .service {
    width: 65%;
}

.row-5 .service h4 {
    font-size: 40px;
    font-weight: 500;
    line-height: 73px;
}

.row-5 .service p {
    font-size: 20px;
    font-weight: 400;
}

.horizontal-line-small {
    background: #000;
    height: 2px;
    border-radius: 3px;
    margin: 25px 0;
}


/* Work Section Start */

.work-item {
    display: flex;
    flex-direction: row;
    margin: 0 9% 50px;
    justify-content: space-between;
}

.work-item .col-1 h2{
    font-size: 120px;
    font-weight: 800;
}

.work-item .col-1 p{
    font-size: 26px;
    font-weight: 600;
}

.work-item .col-2 {
    position: relative;
    flex-basis: 40%;
}

.work-item .col-2 p{
    font-size: 20px;
    font-weight: 600;
}

.work-item .col-2 button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.work-item .col-2 button:hover {
    transition: 0.3s ease-in-out;
    color: #DEFA0F;
    background-color: #000;
}

.work-image img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    margin-bottom: 150px;
    transition: 0.5s ease-in-out;
}

.work-image img:hover {
    transform: scale(1.05);
}


/* Work Section End */



/* Footer */

.footer {
    background: #000;
    color: #ffffff;
    padding: 100px 9% 50px;
}


#cta {
    font-size: 87px;
    font-weight: 600;
    margin-bottom: 80px;
}


.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4% 0;
}

.left {
    position: relative;
    flex-basis: 65%;
}


.right {
    position: relative;
    flex-basis: 30%;
}

.left h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left p{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

.left span {
    color: #DEFA0F;
}


.right img{
    width: 12%;
    margin: 0 10px;
    transition: 0.3s ease-out;
}

.footer .left a {
    text-decoration: none;
    position: relative;
}

.footer .left a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #DEFA0F;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.9s;
}

.footer a:hover::after {
    width: 100%;
}


.footer a {
    text-decoration: none;
    color: #DEFA0F;
}

.footer img:hover {
    transform: translateY(-10px);
}

#copyright {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* Footer End */


/* About Page Start */

.about-section {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.about-image {
    flex-basis: 40%;
    position: relative;
}

.about-image img {
    max-width: 100%;
}

.about-text {
    flex-basis: 55%;
    position: relative;
}

.about-section h2{
    font-family: "Brownland";
    font-size: 15em;
    font-weight: 500;
    letter-spacing: -4.64px;
    line-height: 0.9em;
}

.about-section a {
    text-decoration: none;
    color: #000;
    font-family: "Brownland";
    transition: 0.3s ease-out;
}

.about-section a:hover {
    color: #904F2E;
}

#about-subheading {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
}

#about-details {
    font-size: 20px;
    padding: 10px 10% 5% 0;
    line-height: 28px;
}

#about-details a {
    font-family: "Nohemi";
    font-weight: 700;
    text-decoration: none;
}

#about-details a:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}


/* About Page End */


/* Work Page Start */

.work-header {
    text-align: center;
    font-size: 79px;
    font-weight: 700;
}

.work-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 140px;
}

.work-gallery-left {
    flex-basis: 48%;
    position: relative;
    margin: 50px 0;
}

.work-gallery-left img {
    width: 100%;
}

.work-gallery-right {
    flex-basis: 48%;
    position: relative;
    margin: 50px 0;
}

.work-gallery-right img {
    width: 100%;
}

.work-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.work-details > * {
    transform: translateY(20px);
    transition: 0.6s ease-in-out;
}

.work-details:hover {
    opacity: 1;
}

.work-details:hover > * {
    transform: translateY(0);
}

.work-details--blur {
    backdrop-filter: blur(5px);
}

.work-details h5 {
    margin: 0 50px;
    color: #DEFA0F;
    font-size: 69px;
    font-weight: 800;
}

.work-details span {
    margin: 0 50px;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
}

.work-details p {
    color: #fff;
    margin: 10px 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.work-button {
    margin: 10px 50px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 3px solid #fff;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.work-button:hover {
    transition: 0.3s ease-in-out;
    background-color: #fff;
    color: #000;
}

.other-projects {
    text-align: center;
}

.other-projects button {
    margin: 50px 0 150px;
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: 3px solid #000;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(0px);
    transition: 0.6s ease-in-out;
}

.other-projects button:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    background-color: #000;
    color: #DEFA0F;
}


/* Work Page End */


/* Store Page Start */

.store-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 140px;
}

.store-gallery-col {
    flex-basis: 30%;
    position: relative;
    margin: 50px 0;
}

.store-gallery-col img {
    width: 100%;
    transition: 0.5s ease-out;
}

.store-gallery-col img:hover {
    transform: scale(1.02);
}


.store-details h5 {
    margin: 20px 0;
    color: #000;
    font-size: 40px;
    font-weight: 800;
}


.store-details p {
    color: #000;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.store-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

.store-button:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    background-color: #000;
    color: #DEFA0F;
}

/* Store Page End */


/* Mobile style */

@media (max-width: 924px) {

    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 20px;
        margin: 4% 4% 2%;
    }
    
    .logo {
        width: 30vw;
    }
    
    .header .col-2 {
        width: 50px;
    }
    
    .row-1 h1 {
        font-size: 25vw;
    }
    
    .row-2 {
        flex-flow: column wrap;
        gap: 8px;
    }
    
    .row-2 .col-1 {
        font-size: 4vw;
        text-align: center;
    }
    
    #tagline {
        font-size: 7vw;
    }

    .row-3 {
        margin: 80px 0;
    }

    .row-3 img{
        margin: 0 0;
        height: auto;
        object-fit: cover;
    }

    .row-3 video {
        margin: 0 0;
        height: auto;
        object-fit: cover;
    }


    .section-header {
        margin: 5%;
    }

    .section-header p {
        font-size: 3vw;
    }

    .row-4 {
        margin: 5%;
        flex-direction: column;
        gap: 20px;
    }

    .row-4 .col-1 h3 {
        font-size: 6vw;
    }

    .row-4 .col-2 img {
        width: 8%;
        margin: 0 4px;
    }

    .horizontal-line {
        margin: 50px 5%;
    }

    .row-5 {
        margin: 0 5%;
    }

    .row-5 .service {
        width: 100%;
    }

    .row-5 .service h4 {
        font-size: 4vw;
        margin: 0;
    }
    
    .row-5 .service p {
        font-size: 3vw;
    }
    
    .horizontal-line-small {
        margin: 25px 0;
    }


    .work-item {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 0 5% 30px;
    }
    
    .work-item .col-1 h2{
        font-size: 80px;
        font-weight: 800;
    }
    
    .work-item .col-1 p{
        font-size: 26px;
        font-weight: 600;
        line-height: normal;
    }

    
    .work-item .col-2 p{
        font-size: 20px;
        font-weight: 600;
    }

    .work-item .col-2 button {
        font-size: 5vw;
    }
    
    .work-image img{
        margin: 0 0 70px;
        height: auto;
        object-fit: contain;
    }

    .footer {
        padding: 7% 10% 4%;
        text-align: center;
    }
    
    #cta {
        font-size: 7vw;
        margin-bottom: 40px;
    }
    
    .contact {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }

    .left {
        flex-basis: 100%;
    }

    .right {
        flex-basis: 100%;
    }

    .left h3 {
        font-size: 5vw;
    }
     
    .left p {
        font-size: 4vw;
        font-weight: 400;
        margin-bottom: 5px;
    }
    
    
    .right img{
        width: 15%;
        margin: 10px 10px;
    }

    #copyright {
        font-size: 2.5vw;
        /* margin: 4% 4%; */
    }


    /* Mobile Navigation */

    .header .col-2 {
        width: 40px;
    }

    .nav-toggler input:hover {
        translate: 0;
    }
    
    .nav-container {
        position: fixed;
        right: -100%;
        top: 0;
        padding: 10vh 0 0 0;
        width: 100%;
        height: 100vh;
        background:#000000;
        z-index: 2;
        transition: right var(--animation-timing);
    }

    
    .menu__item {
        margin: 20px 0;
    }
    
    .menu {
        padding: 10vh 0 25vh;
        font-size: 7vw;
    }

    /* About Page  */


    .about-section {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 5%;
    }

    .about-image {
        width: auto;
    }

    
    .about-section h2{
        font-family: "Brownland";
        font-size: 40vw;
        font-weight: 500;
        letter-spacing: -4.64px;
        line-height: 0.9em;
    }
    
    .about-section a {
        text-decoration: none;
        color: #000;
        font-family: "Brownland";
        transition: 0.3s ease-out;
    }
    
    .about-section a:hover {
        color: #904F2E;
    }
    
    #about-subheading {
        font-size: 5vw;
        font-weight: 500;
        margin: 10px 0;
    }
    
    #about-details {
        font-size: 3.5vw;
        padding: 10px 0 5%;
        line-height: 28px;
    }
    
    #about-details a {
        font-family: "Nohemi";
        font-weight: 800;
        text-decoration: none;
        font-style: italic;
    }
    
    #about-details a:hover {
        text-decoration: underline;
        transition: 0.3s ease;
    }


    /* Work Page  */

    .work-header {
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
    }
    
    .work-gallery {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin: 50px 40px;
    }
    
    .work-gallery-left {
        margin: 30px 0;
    }
    
    .work-gallery-left img {
        width: 100%;
    }
    
    .work-gallery-right {
        margin: 30px 0;
    }
    
    .work-gallery-right img {
        width: 100%;
    }

    .work-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
        background: rgba(0, 0, 0, 0.6);
    }
    
    
    .work-details h5 {
        margin: 0 6%;
        color: #DEFA0F;
        font-size: 9vw;
        font-weight: 800;
    }
    
    .work-details span {
        margin: 0 6%;
        color: #fff;
        font-size: 5vw;
        font-weight: 600;
    }
    
    .work-details p {
        color: #fff;
        margin: 5px 6%;
        font-size: 3vw;
        font-weight: 400;
        line-height: normal;
    }
    
    .work-button {
        width: max-content;
        margin: 7px 17%;
        padding: 8px 15px;
        font-size: 4vw;
        font-weight: 500;
    }
    
    .work-button:hover {
        transition: 0.3s ease-in-out;
        background-color: #fff;
        color: #000;
    }
    
    .other-projects {
        text-align: center;
    }
    
    .other-projects button {
        margin: 30px 0 80px;
        padding: 10px 20px;
        background: #fff;
        color: #000;
        border: 3px solid #000;
        font-size: 5vw;
        font-weight: 500;
        cursor: pointer;
        transform: translateY(0px);
        transition: 0.6s ease-in-out;
    }
    
    .other-projects button:hover {
        transition: 0.3s ease-in-out;
        transform: translateY(-10px);
        background-color: #000;
        color: #DEFA0F;
    }


    /* Store Page */

    .store-gallery {
        flex-flow: column wrap;
        margin: 20px 5%;
    }
    
    .store-gallery-col {
        margin: 50px 0;
    }

    
    .store-details h5 {
        margin: 20px 0 5px;
        font-size: 7vw;
    }
    
    
    .store-details p {
        margin: 10px 0;
        font-size: 3.5vw;
    }
    
    .store-button {
        margin: 5px 0;
        font-size: 4vw;
        transform: translateY(0px);
        transition: 0.3s ease-in-out;
    }
}

