* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin: 0 0 0 -8%;
}

.social-icons-top img {
    height: 20px;
    margin: 3px;
    cursor: pointer;
}

.social-icons-top a {
    text-decoration: none;
    top: 0;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 6% 30px;
}

.row-1 .col-1 {
    flex-basis: 40%;
    position: relative;
}

.row-1 .col-1 h1 {
    font-size: 50px;
    font-kerning: auto;
    line-height: 53px;
    margin-bottom: 20px;
}

.row-1 .col-1 h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
}

.row-1 #cta {
    width: 200px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 10px;
    outline: none;
    background-color: black;
    color: #fff;
    border-radius: 22px;
    transition: width 0.5s;
}

.row-1 #cta:hover {
    width: 210px;
    text-decoration: overline;
    cursor: pointer;
}


.row-1 .col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.row-1 .col-2 .profile {
    max-width: 55%;
    border-radius: 140px 20px 20px 20px;
    margin-right: 1.5%;
}

.row-1 .color-box {
    position: absolute;
    right: 0;
    top: 2%;
    background: #d9d9d9;
    border-radius: 140px 20px 20px 20px;
    height: 100%;
    width: 55%;
    z-index: -1;
}


.row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-icon {
    width: 4%;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}

#scroll-hero {
    align-self: center;
    text-align: center;
}

.row-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.row-3 p {
    align-self: center;
    font-size: 35px;
    font-weight: 600;
}

.projects-grid {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    margin: 10% 6% 15% 6%;
    grid-auto-flow: dense;
    grid-gap: 1.5%;
}

.projects-grid .grid-items {
    background: #000;
    display: grid;
    padding: 10%;
    place-items: center;
    transition: 0.9s;
    border-radius: 35px;
    color: #fff;
}

.projects-grid .grid-items:hover {
    background: #d9d9d9;
    cursor: pointer;
}

.projects-grid .grid-items h3 {
    position: relative;
    font-size: 30px;
}

.projects-grid .grid-items:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
    background-image: url('images/test.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.projects-grid .grid-items:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;

}

.projects-grid .grid-items:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;

}

.projects-grid .grid-items:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;

}

.projects-grid .grid-items:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;

}

.projects-grid .grid-items:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;

}

.content p span {
    font-size: 13px;
}

.row-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 6% 50px;
}

.row-4 .col-1 {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.row-4 .col-1 .about {
    max-width: 60%;
    border-radius: 140px 20px 20px 20px;

}

.row-4 .color-box {
    position: absolute;
    left: 0;
    top: 2%;
    background: #d9d9d9;
    border-radius: 140px 20px 20px 20px;
    height: 100%;
    width: 60%;
    margin-left: 2%;
    z-index: -1;
}

.row-4 .col-2 {
    position: relative;
}

.row-4 .col-2 h2 {
    font-size: 38px;
    font-kerning: auto;
    line-height: 45px;
    margin-bottom: 20px;
}

.row-4 .col-2 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0;
}

.guitar-icon {
    width: 6%;
}

.row-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.row-5 #section-header {
    align-self: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 6%;
}

.experience .left {
    width: 40%;
}

.experience .left #company {
    font-size: 20px;
    font-weight: 600;
}

.experience .left #role {
    font-size: 15px;
    font-weight: 400;
}

.experience .right {
    width: 40%;
    align-items: center;
}

.experience .right #duration {
    font-size: 17px;
    font-weight: 600;
    text-align: end;
}

.row-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 6%;
}

.row-6 .left {
    width: 40%;
}

.row-6 #cta {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
}

#phone,
#email {
    font-size: 25px;
    margin-bottom: 8px;
}

.row-6 .right {
    width: 40%;
    justify-items: end;
}

.row-6 #cta-2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 15px;
}

.social-icons-bottom img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.social-icons-bottom a {
    text-decoration: none;
    top: 0;
}

footer {
    text-align: center;
    margin: 200px 0 100px;
}

footer a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
        min-height: 100vh;
        padding-left: 6%;
        padding-right: 6%;
        box-sizing: border-box;
        overflow: hidden;
    }

    header {
        margin-left: 6%;
        margin-right: 6%;
    }

    .social-icons-top {
        display: none;
    }

    .row {
        flex-direction: column;
        text-align: center;
    }

    .col-1 h1 {
        font-size: 32px;
        font-kerning: auto;
        line-height: 39px;
        margin-bottom: 40px;
    }

    .col-1 h3 {
        font-size: 22px;
        font-weight: 300;
        margin: 10px 0;
    }

    #cta {
        width: 55vw;
        height: 12vh;
        border: 0;
        font-size: 22px;
        font-weight: 500;
        padding: 12px 10px;
        margin-bottom: 50px;
        outline: none;
        background-color: black;
        color: #fff;
        cursor: pointer;
        transition: width 0.5s;
    }

    #cta:hover {
        width: 59vw;
        text-decoration: none;
    }

    .col-2 {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 30px 12%;
    }

    .col-2 .profile {
        max-width: 100%;
        border-radius: 100px 20px 20px 20px;
        margin-right: 2%;
    }

    .color-box {
        position: absolute;
        right: 0;
        top: 1.5%;
        background: #d9d9d9;
        border-radius: 100px 20px 20px 20px;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}